{% extends "layout.html" %}

{% load static %}

{% block stylesheets %}

        <link rel="shortcut icon" href="{% static 'cardiouser/assets/images/favicon_1.ico' %}">

        <link href="{% static 'cardiouser/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/core.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/components.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/pages.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/menu.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'cardiouser/assets/css/responsive.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'cardiouser/assets/js/modernizr.min.js' %}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
{% endblock %}

{% block javascripts %}
        <script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="{% static 'cardiouser/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/detect.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/fastclick.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/waves.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/jquery.scrollTo.min.js' %}"></script>

        <script src="{% static 'cardiouser/assets/js/jquery.app.js' %}"></script>
        <script src="{% static 'cardiouser/assets/js/sweetalert2.js' %}"></script>
{% endblock %}

